.steps-wrapper .step-header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  border: 1px solid #e4e4e4;
}

.steps-wrapper .step-header .header-text {
  font-weight: 600;
  color: #252525;
}
.steps-wrapper .step-item {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e4e4e4;
  border-top-width: 0;
}
